{% extends 'base.html' %}

{% block titulo %}
    healthdrink
{% endblock %}

{% block contenido_que_cambia %}
<p>
{% for i in Healthdrink %}

<div class="card" style="width: 18rem;">
  {% if i.image %}
        <img src="{{i.image.url}}" class="card-img-top">
        {% else %}
        <img src="https://img.freepik.com/vector-premium/etiqueta-sello-verde-100-ciento-natural-productos-aditivos-ni-conservantes_101884-1703.jpg" class="card-img-top">
        {% endif %}
    <ul class="list-group list-group-light">
      <li class="list-group-item px-3">nombre: {{i.name}}</li>
      <li class="list-group-item px-3">descripcion: {{i.description}} </li>
      <li class="list-group-item px-3">precio: {{i.price}} </li>
      <li class="list-group-item px-3">pais: {{i.country}} </li>
     
  
    </ul>
  </div>

{% endfor %}
<p>
{% endblock %}