{% extends 'base.html' %}

{% block titulo %}
    healthdrink
{% endblock %}

{% block contenido_que_cambia %}
<p>
{% for i in Healthdrink %}

<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-light">
      <li class="list-group-item px-3">nombre: {{i.name}}</li>
      <li class="list-group-item px-3">descripcion: {{i.description}} </li>
      <li class="list-group-item px-3">precio: {{i.price}} </li>
      <li class="list-group-item px-3">pais: {{i.country}} </li>
    </ul>
  </div>

{% endfor %}
<p>
{% endblock %}