{% extends 'base.html' %}

{% block titulo %}
    index
{% endblock %}

{% block contenido_que_cambia %}
<p>
<h2 style="background-color: #777799; color: #f1f1f1; font-weight: bold">"Que es Nutrisur"<h2>
    <h5 style="background-color: #777799; color: #f1f1f1; font-weight: bold">Ubicados en Valdivia, SOMOS una empresa compuesta por emprendedores apoyados por CORFO Los Ríos. Nos une la búsqueda de una alimentación sana y nutritiva, comprometidos con el medio ambiente, un buen aprovechamiento de nuestros recursos naturales y conscientes de elaborar productos con una baja huella de carbono."<h5>
      </div>



        {% if message %}

        <h2>{{message}}</h2>
    
    {% endif %}
    <p>
{% endblock %}