{% extends 'base.html' %}

{% block titulo %}
    Búsqueda de productos
{% endblock %}

{% block contenido_que_cambia %}

{% for search in search %}
<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-light">
      <li class="list-group-item px-3">Nombre: {{search.name}}</li>
      <li class="list-group-item px-3">Precio: {{search.price}} </li>
      <li class="list-group-item px-3">País de origen: {{search.country}} </li>
    </ul>
  </div>
{% endfor %}

{% endblock %}
