
{% extends 'base.html' %}

{% block titulo %}
    Busqueda de Productos
{% endblock %}

{% block contenido_que_cambia %}

    {% for i in Healthdrink %}
 
    <div class="card" style="width: 18rem;">
        {% if i.image %}
            <img src="{{i.image.url}}" class="card-img-top">
            {% else %}
            <img src="https://img.freepik.com/vector-premium/etiqueta-sello-verde-100-ciento-natural-productos-aditivos-ni-conservantes_101884-1703.jpg" class="card-img-top">
            {% endif %}
    <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">Descripcion: {{i.description}}</p>
            <p class="card-text">Precio: {{i.price}}</p>
            <p class="card-text">Pais Origen: {{i.country}}</p>
            

{% endfor %}

{% endblock %}

