
{% extends 'base.html' %}

{% block titulo %}
    Busqueda de Productos
{% endblock %}

{% block contenido_que_cambia %}

    {% for i in Healthdrink %}
 
    <div class="card" style="width: 18rem;">
    
    <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">Descripcion: {{i.description}}</p>
            <p class="card-text">Precio: {{i.price}}</p>
            <p class="card-text">Pais Origen: {{i.country}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>

{% endfor %}

{% endblock %}

